<h1> Donations and Funding </h1>

<p>Helm's Deep is a social media platform that values your privacy above all else. Given this directive, we are unable to monetize your browsing habits through advertising other means. It follows naturally that the ONLY way we can keep this site up and running is through your donations.</p>

<p>My entire life I have believed in the power of markets. However, I believe that neither your privacy nor your liberty should not be for sale. Please consider donating.</p>

<p>- Forrest Wong</p>

<hr>

<p>Bitcoin Address:<p> 

<%= image_tag("qrcode.png") %>

<p>36CDyWtok6Pwc1hXEHSsDxcBkJFpsFgoNg<p>