<h1> Donations and Funding </h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet augue interdum risus lobortis, non hendrerit ex scelerisque. Proin dapibus efficitur ullamcorper. Nam nec dolor quis justo venenatis hendrerit a quis ligula. Suspendisse facilisis, felis sed molestie posuere, orci nulla fermentum nulla, egestas ultricies ex nisl sed nibh.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet augue interdum risus lobortis, non hendrerit ex scelerisque. Proin dapibus efficitur ullamcorper. Nam nec dolor quis justo venenatis hendrerit a quis ligula. Suspendisse facilisis, felis sed molestie posuere, orci nulla fermentum nulla, egestas ultricies ex nisl sed nibh.</p>

<p>- Forrest Wong</p>

<hr>

<p>Bitcoin Address:<p> 

<%= image_tag("qrcode.png") %>

<p>36CDyWtok6Pwc1hXEHSsDxcBkJFpsFgoNg<p>