<h1>About our Community: Helm's Deep and the Junto</h1>

<main>
<p>Helm's Deep is an intellectual and digital fortress, no less real than one that is physical. It is a fortress for freedom.</p>

<p><strong>The primary directive of this site is to provide its members with protection for their intellectual and political liberties. It is a place for completely non-censored discussion, collaboration, and the free exchange of ideas.</strong> We live in a world where governments have actively sought to undermine our civil liberties. They harrass, oppress, steal, and threaten us with impunity. Consider the murder of innocent people such as George Floyd at the hands of corrupt police; the violation of the privacy of all citizens as revealed by Edward Snowden; the oppression of the citizens of Hong Kong at the hands of an authoritarian regime. it is now, more than ever, critical that we maintain a clear and unmanipulated communications platform to coordinate our counterattack against those that seek to rob us of our liberty.</p>

<p><strong>Members of the Helm's Deep community are known as the Junto. The original Junto were a group of citizens coordinated by the great Benjmamin Franklin. It was a group of enterprising tradesman and artisans that sought to improve themselves and each other through collaboration, honest self-expression, and discussion.</strong> This group exists to carry on and expand their great legacy in the digital age. I believe that Benjamin Franklin, were he alive today, would be proud.</p>

<p>On this forum we are equal parts entrepreneurial, altruistic, intellectual, and just. These are the values that we hold dear.</p>

<p>Helm's Deep is a place where you can express yourself and be yourself. You are <i>protected</i> from the machinations of a police state gone awry.</p>

<p>P.S. While this site seeks to provide an un-censored and unmanipulated platform for <i>ideas</i>, that does not mean that all forms of content are allowed. Here at Helm's Deep we follow a libertarian philosophy of non-aggression. You are not to post stolen content, child pornography, revenge pornography, or other similar forms of content. Those who post such material will be banned from our community with extreme prejudice.</p>

<p>- Benjamin Roberts</p>
</main>