<h1>About our Community: Helm's Deep and the Junto</h1>

<br>
<br>

<main>

<p>Helm's Deep is a community created for the purposes of open discourse. The primary directive of this site is to provide its members with protection for their freedom of expression. It is a place for non-censored conversation, collaboration, and the free exchange of ideas. Members of the Helm's Deep community are known as the Junto.</p>

<p>The original Junto were a group of citizens coordinated by the great Benjmamin Franklin. It was a group of enterprising tradesman and artisans that sought to improve themselves and each other through collaboration, honest self-expression, and discussion. This group exists to carry on and expand that great legacy into the digital age. On this forum we are equal parts entrepreneurial, altruistic, and intellectual.</p>
<br>
<p>- Forrest Wong</p>
</main>