<!-- Footer -->
<footer class="page-footer font-small blue pt-4" id="footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Helm's Deep</h5>
        <p>
        <small class="footer-paragraph">Helm's Deep is an intellectual and digital fortress, no less real than one that is physical. It is a fortress for freedom. The primary directive of this site is to provide its members with protection for their intellectual and political liberties. It is a place for completely non-censored discussion, collaboration, and the free exchange of ideas. Members of the Helm's Deep community are known as the Junto.</small>
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Friends</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.gyroscopicinvesting.com">Gyroscopic Investing</a>
          </li>
          <li>
            <a href="https://freeross.org">Free Ross Ulbricht</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Resources</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://tutorial.math.lamar.edu/">Paul's Online Math Notes</a>
          </li>
          <li>
          <a href="https://www.youtube.com/channel/UCYO_jab_esuFRV4b17AJtAw">3Blue1Brown Math Channel</a>
        </li>
        </ul>

        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <small><div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Benjamin Roberts</a>
  </div></small>
  <!-- Copyright -->

</footer>
<!-- Footer -->